.navbar{
    grid-area:n;
    background-color: rgb(110, 161, 33);
    border-radius: 20px ;
    margin:5px;
    text-align: center;
    min-height: 500px;
    }
.navbar a {
    text-decoration: none;
    color:white;

}

a.active{
    color:gold;
}

.navbar img{
    width: 110px;
    border-radius: 20px;

}

.item{
    padding: 5px;
}

.item :hover{
    background-color: rgb(50, 144, 33);
    opacity: 0.6;
    border-radius: 5px;
    padding: 5px;
}